
.button-simple{
    padding: 0.5rem 1.50rem;
    color: aliceblue;
    background-color: rgb(54, 112, 238);
    outline: 0rem;
    border: 2px;
    border-radius: 50px;
    font-weight: 900;
    font-size: large;
    transition: all ease 0.7s ease-in-out;
}
.button-simple:hover{
    background-color: rgb(16, 37, 83);
    transform: translateY(-4px);
    box-shadow :0.1rem 0.25rem 5px 1px rgba(16, 37, 83,0.3)  ;
}